<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyEconomicIndicators.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33337BED2E92A2F900094B10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33337C032E92A2FB00094B10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33337C0D2E92A2FB00094B10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
